<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>Multiroom Chat</title>
		
		<!-- JQUERY -->
		<script src="js/jquery-3.3.1.min.js"></script>
		
		<!-- bootstrap-->
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<script src="/js/bootstrap.min.js"></script>
	
		<!-- estilo -->
		<link href="css/style.css" rel="stylesheet">
		
		<script type="text/javascript">
		
			$(document).ready(function(){
				$("#exibe_chat").click(function(){
					$("#conversa").show();
					$("#participantes").hide();
					ocultaNavbar();
				});
				
				$("#exibe_participantes").click(function(){
					$("#participantes").show();
					$("#conversa").hide();
					ocultaNavbar();
				});
			});
			
			function ocultaNavbar(){
				$("#btn_navbar_toggle").attr("class","navbar-toggle collapsed");
				$("#navbar-collapse-1").attr("class","navbar-collapse collapse");
				$("#btn_navbar_toggle").attr("aria-expanded","false");
				$("#navbar-collapse-1").attr("aria-expanded","false");
			}
		</script>
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light mb-4 fixed-top">
			<a class="navbar-brand" href="#">Multiroom Chat</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#" id="exibe_chat">Chat<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#" id="exibe_participantes">Participantes</a>
					</li>
				</ul>
			</div>
		</nav>

		<div class="container">
            <div class="row conversa" id="conversa">
				<div class="col-md-1"></div>
				<div class="col-md-10" id="dialogo">

				</div>
				<div class="col-md-1"></div>
                
            </div>
			
			<div class="row participantes" id="participantes" style="display:none">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<span class="participante">
						<img src="/images/ico_usuario.png" />
						Jorge
					</span>
					
					<span class="participante">
						<img src="/images/ico_usuario.png" />
						José
					</span>
					
					<span class="participante">
						<img src="/images/ico_usuario.png" />
						Fernando
					</span>
				</div>
				<div class="col-md-1"></div>
                
            </div>
        </div>

		<nav class="navbar navbar-light bg-light fixed-bottom">
			<div class="col-md-12">
				<form>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Mensagem">
						<span class="btn enviar">
							<img width="30" height="30" src="/images/send.png" />
						</span>
					</div>
				</form>
			</div>
		</nav>

		<script src="socket.io/socket.io.js"></script>
		<script>
			let socket = io('http://localhost:3001');

			socket.on('msgCliente', function(data){
				let html = '<div class="dialogo">' 
								+'<h4>'+data.apelido+'</h4>'
								+'<p>'+data.apelido+' acaba de se conectar</p>'
						  +'</div>';
				
				$("#dialogo").append(html);
				
			});
		</script>
	</body>
</html>