<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>Multiroom Chat</title>
		
		<!-- bootstrap-->
		<link rel="stylesheet" href="/css/bootstrap.min.css">
        
		<!-- estilo -->
		<link href="css/style.css" rel="stylesheet">
	</head>

	<body>

		<div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-4">
                    <div class="panel panel-default">
                    	<div class="panel-heading">                                
                            <div class="row-fluid user-row">
                                <img src="/images/multiroom_chat_2.png" class="img-responsive" alt="Multiroom Chat"/>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form accept-charset="UTF-8" role="form" class="form-signin">
                                <fieldset>
                                    <label class="panel-login">
                                        <div class="login_result"></div>
                                    </label>
                                    <input class="form-control" placeholder="Nome ou apelido" id="apelido" type="text">
                                    <br></br>
                                    <input class="btn btn-lg btn-success btn-block" type="submit" id="entrar" value="Entrar »">
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		
	</body>
</html>